/* Spinner 1 */
.spinner-1:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;    
    border: 2px solid gray;
    border-radius: 50%;
    margin-top: -30px;
    margin-bottom: -30px;
    border-top-color: magenta;
    animation: spinner 0.7s linear infinite;
}

.spinner-2:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: magenta;
    border-bottom-color: magenta;
    width: 60px;
    height: 60px;
    margin: -30px 0;
    animation: spinner 2s ease infinite;
}

.spinner-3:before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0;
    border-top: 2px solid coral;
    border-right: 2px solid coral;
    animation: spinner .7s linear infinite; 
}

@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}


/* Bouncing Loader */

@keyframes bouncing-loader {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: .02;
        transform: translateY(-1rem);
    }
}

.bouncing-loader {
    display: flex;
    justify-content: center;
}

.bouncing-loader > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: gray;
    margin: 2rem .2rem;
    animation: bouncing-loader 1s infinite alternate;
}

.bouncing-loader > div:nth-child(2){
    animation-delay: .2s;
}

.bouncing-loader > div:nth-child(3){
    animation-delay: .4s;
}

/* Bouncing Loader */